VITE_API_BASE_URL=
# VITE_API_BASE_URL=http://HOST:8787
TV_IP=192.168.0.10
# SDB=~/.local/opt/tizen-tools/sdb
# CERT_DIR=~/tizen-studio-data/SamsungCertificate/Tizen
# CERT_PASSWORD_FILE=~/.samsung-tv-cert-password
